{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drop Friend</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/friend.css" type="text/css">
</head>

<body>
    <header>
        <div class = "title">
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000" alt="Logo">
            </div>
            <h1>Drop Friend</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/search">Schedule Search</a></li>
                <li><a href="/friend">Friends</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <form action="{{ url_for('views.dropfriend') }}" method="POST">
        <div class = "search">
            <h2 class="lookup_title"> Friends Found: </h2>
            {% for friend in friends %}
                {% if friend.id != current_user.id %}
                    <div class="lookup"><input type="checkbox" name="selected_friend" value="{{ friend.id }}">{{ friend.username }}</div>
                {% endif %}
            {% endfor %}
            <div>
                <button class = "button" type="submit">Submit</button>
            </div>
        </div>
    </form>

</body>
</html>

{% endblock %}