{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{username}} Schedule</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000
    ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/myuser.css">
</head>

<body>
    <header>
        <div class = "title">
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000" alt="Logo">
            </div>
            <h1>Friend's Schedule</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/search">Schedule Search</a></li>
                <li><a href="/friend">Friends</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="me">
        <section class= "user-info">
            <div class="avatar">
                <img src="https://media.discordapp.net/attachments/1230266899284234320/1232100433493889086/file-qJm6GI11C8wbYCxtMWvFDcjj.png?ex=66283a72&is=6626e8f2&hm=b9aa67798f5b5c2d89d8234276fcce84efefbb7fa70a58541a426b3cd04e8331&=&format=webp&quality=lossless&width=700&height=700" alt="User Avatar">
            </div>
            <div class="name">
                <h2>{{username}}</h2>
            </div>
        </section>
        <section class="classes">
            <h2>Schedule</h2>
            <ul>
                {% for course in taken %}
                    <li>{{ course.title }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>

</body>
</html>
{% endblock %}