{% block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Profile</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000
    ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/myuser.css">
</head>

<body>
    <header>
        <div class = "title">
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000" alt="Logo">
            </div>
            <h1>My Profile</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="myuser">Home</a></li>
                <li><a href="/search">Schedule Search</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="me">
        <section class= "user-info">
            <div class="avatar">
                <img src="https://cdn.discordapp.com/attachments/1230278551010545744/1231310793379676201/kellycat.png?ex=66367e89&is=66240989&hm=8d6904475ceaa883536fb30dbc5c3d469d05ec1bc5f7af5db6173747bf7b1e03&" alt="User Avatar">
            </div>
            <div class="name">
                <h2>{{username}}</h2>
            </div>
        </section>
        <section class="classes">
            <h2>Schedule</h2>
            <ul>
                {% for course in taken %}
                    <li>{{ course.title }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div class = "friends">
        <h2> My Friends </h2>
        <ul>
            <li>Grace Nguyen</li>
            <li>Yuka Yamamoto</li>
            <li>I guess Jason</li>
        </ul>
    </div>


</body>
</html>
{% endblock %}