<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule Search</title>
    <link rel="icon" type="image/png" href="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000 ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/schedule.css">
</head>

<body>
    <header>
        <div class = "title">
            <div class="logo">
                <img src="https://media.discordapp.net/attachments/1194441517826322503/1230266606534397972/file-AADxbJARYTVlu6z98DEhdTly-removebg-preview.png?ex=6632b210&is=66203d10&hm=6c08f2b2a2dba931ba81d823c0ec6a181e9c0d2dfd10985526abdeb8ed92a895&=&format=webp&quality=lossless&width=1000&height=1000 " alt="Logo">
            </div>
            <h1>Schedule Search</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/search">Schedule Search</a></li>
            </ul>
        </nav>
    </header>

    <div class="me">
        <div class="search">
            <h2>Search For a Class!</h2>
        </div>

        <div class="classquery">
            <form method="POST" id = "ClassSearch">
                <label for="country"> Subject  <input type="text" name="country" placeholder="meow"></label><br>
                <label for="book"> Course Number <input type="text" name="book" placeholder="meow"></label><br>
                <label for="event"> Title <input type="text" name="event" placeholder="meow"></label><br>
                <label for="day"> Day <input type="text" name="day" placeholder="meow"></label><br>
                <label for="professor"> Professor <input type="text" name="professor" placeholder="meow"></label><br>
                <button type="submit" class="button">Submit</button>
            </form>    
        </div>
    </div>

    <div class="results">
        <h2>Applicable Classes:</h2>
    </div>  
    
</body>
</html>