@font-face {
    font-family: 'Meow';
    src: url('./meows-font/Meows-VGWjy.ttf') format('truetype');
}

/* Reset some default browser styles */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E75480;
    font-size: 20px;
}

body, h1, h2, p, li {
    color: #E75480;
    font-family: 'Meow', sans-serif;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #FFD1DC;
}

header {
    background-color: #FDB9C8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px; /* Add spacing between logo and title */
}

.logo img {
    width: 50px; /* Adjust width of the logo */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Display list items inline */
    margin-right: 10px; /* Add spacing between list items */
}

nav a{
    transition: background-color 0.3s ease;
}

nav a:hover{
    background-color:#FFD1DC;
    padding: 5px;
    border-radius: 10%;
}

nav a:visited {
    color:#E75480;
}

.classes {
    margin-top: 20px;
}

.search {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFE5E5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search table {
    width: 100%;
}

.search {
    overflow-x: auto;
}

/* Hide the default checkbox */
.check_button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    background-color: pink; /* Pink color */
    border: 1px solid pink; /* Pink border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}

/* Show a custom checkmark when the checkbox is checked */
.check_button:checked {
    background-color: pink; /* Pink color */
    background-image: url('https://cdn.discordapp.com/attachments/1230278551010545744/1232059575797289092/checkmark-ezgif.com-webp-to-jpg-converter-removebg-preview-2.png?ex=66281465&is=6626c2e5&hm=3d8a28363eb9536a3ac8ee3db4f253eb0d2b4bdabae32f72bfa5a92618abba83&');
    background-size: contain;
    background-repeat: no-repeat;
}

table, th, td {
    border: 1px solid pink;
    width: 100%;
    text-align: center;
}

th, td {
    width: auto;
}

.button {
    width: 100%;
    height: 45px;
    
    background: #FFE5E5;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    cursor: pointer;
    

    color: #E75480;
    font-size: 20px;
    font-weight: 800;
}

.button:hover {
    background-color: #e6a4b4;
    color: #fff; 
}

.table_button {
    border: none;
}
